        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" routerLink="/home">Cricket</a>

              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                
              </ul>
              <div class="">
                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li  class="nav-item">
                      <a class="nav-link" routerLink="/matches">Matches</a>
                    </li>
                    <li  class="nav-item">
                      <a class="nav-link" routerLink="/points">Points</a>
                    </li>                   
                    <li class="nav-item">
                      <a class="nav-link" routerLink='' (click)="logout()">Logout</a>
                    </li>
                  </ul>
                
                </div>
            </div>
          </nav>

